<section id="app">
  <a href="/"><- Voltar</a><br>
  <h1>{{post.Title}}</h1>
  <p>{{post.Content}}</p>
  <br>
  <h3>Comentários</h3>
  <ul>
    <!-- Utilize looping v-for do VueJs para exibir os comentários (título e conteúdo) de forma dinâmica -->
    <li v-for="comment in comments" :key="comment.id">
      <h5>{{comment.UserName}}</h5>
      <p>{{comment.Comment}}</p>
    </li>
  </ul>

  <!-- Extra -->
  <div class="container">
    <h3>Adicione um comentário</h3>
    <hr/>

    <form method="POST" action="/api/savecomment" @submit.prevent="checkForm">
      <input type="text" placeholder="Autor" name="UserName" v-model="UserName"></input>
      <textarea type="text" placeholder="Conteúdo" name="Comment" v-model="Comment"></textarea>
      <input type="hidden" value="<%- postId %>" name="PostId">
      <input type="submit" name="comentar" id="submit" value="Comentar">
    </form>

  </div>
</section>

<script>
  var http = axios.create({
    baseURL: "<%- apiUrl%>",
    timeout: 10000,
  });
  const postId = "<%- postId %>"

  var app = new Vue({
    el: "#app",
    data: {
      post: {},
      comments: [],
      UserName: null,
      Comment: null,
    },
    methods: {
      loadPost() {
        http.get("/posts/" + postId).then((response) => {
          this.post = response.data;
        });
      },
      loadComments() {
        //TODO: Criar função que realiza a chamada na API retornando os comentários pelo id do post
        //para usar o id do post utilize a constate postId criada a cima
        http.get("/savecomment/" + postId).then((response) => {
          this.comments = response.data
        })
      },
      async checkForm() {
        await http.post(`/savecomment`, {
          UserName: this.UserName,
          Comment: this.Comment,
          PostId: postId
        })
        if(!this.UserName || !this.Comment){
          alert('preencha todos os campos')
        }
        this.loadComments()
        this.UserName = null
        this.Comment = null
      }
    },
    mounted() {
      this.loadPost();
      //TODO: Faça a chamada da função que carrega os comentários
      this.loadComments();
    },
  });
</script>